<div class="container">

<nav id="TOC">

*   <span class="toc-section-number">1</span> Basic data types

    *   <span class="toc-section-number">1.1</span> Simple
    *   <span class="toc-section-number">1.2</span> Sequence
    *   <span class="toc-section-number">1.3</span> Tuple (`tuple`)
    *   <span class="toc-section-number">1.4</span> String
    *   <span class="toc-section-number">1.5</span> Set (set)
    *   <span class="toc-section-number">1.6</span> Dictionary (dict)
    *   <span class="toc-section-number">1.7</span> `defaultdict`
</nav>

# <span class="header-section-number">1</span> Basic data types


There are four categories of basic data types: simple, sequence, set, and dictionary.


*   Simple
    *   boolean
    *   None
    *   Int
    *   Float
*   Sequence
    *   String
    *   List
    *   Tuple (`tuple`)
*   Set (`set`)
*   Dictionary (`dict`)

## <span class="header-section-number">1.1</span> Simple

### <span class="header-section-number">1.1.1</span> Boolean

There are two basic Boolean objects:  `True` and `False`.

### <span class="header-section-number">1.1.2</span> None

`None` represents the absence of a value.

In [16]:
>>> a = None
>>> print(a)

None

### <span class="header-section-number">1.1.3</span> Numbers

There are two basic numeric types: integer (`int`) and real (`float`). Here are some examples of operations on these types:

In [17]:
>>> 3 + 4

7

In [18]:
>>> 2 ** 3

8

In [19]:
>>> abs(-4)

4

In [24]:
>>> int(3.7)

3

In [23]:
>>> float(5)

5.0

There is a list of possible operations on numbers in the Python documentation:[https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex)

Various functions are also available in the `math` module: [https://docs.python.org/3/library/math.html](https://docs.python.org/3/library/math.html)

In [25]:
    >>> import math
    >>> math.sqrt(4)
    2.0
    >>> math.ceil(3.1)
    4

4

The size of an integer is limited by the size of the computer's memory and not by the size of the processor's registers. So integers with hundreds of digits can easily be created.

In [38]:
    >>> 9 ** 1000

1747871251722651609659974619164660570529062487435188517811888011810686266227275489291486469864681111075608950696145276588771368435875508647514414202093638481872912380089977179381529628478320523519319142681504424059410890214500500647813935818925701905402605484098137956979368551025825239411318643997916523677044769662628646406540335627975329619264245079750470862462474091105444437355302146151475348090755330153269067933091699479889089824650841795567478606396975664557143737657027080403239977757865296846740093712377915770536094223688049108023244139183027962484411078464439516845227961935221269814753416782576455507316073751985374046064592546796043150737808314501684679758056905948759246368644416151863138085276603595816410945157599742077617618911601185155602080771746785959359879490191933389965271275403127925432247963269675912646103156343954375442792688936047041533537523137941310690833949767764290081333900380310406154723157882112449991673819054110440001

The operations on these are however slower than on integers that can be represented natively by the processor.

Literal integers are represented in decimal base by default, but it is possible to use other bases:

In [32]:
    >>> 4871            # décimale
    4871

4871

In [34]:
    >>> 0b1001100000111 # binaire

4871

In [36]:
    >>> 0o11407         # octale

4871

In [37]:
    >>> 0x1307          # hexadécimale

4871

It is possible to convert a number from one type to another using `int` and `float` functions:

In [30]:
    >>> int()
    0
    >>> float()
    0.0
    >>> int(4.5)
    4
    >>> float(4)
    4.0
    >>> int(True)
    1

1

You can also convert a string into a number:

In [3]:
    >>> int("5")

5

In [6]:
    >>> float("4.5")

4.5

## <span class="header-section-number">1.2</span> Sequences

A sequence is an ordered collection of elements. A sequence:


*   is iterable
*   has a size (`len`)
*   has the concept of index, for example to access the <span class="math">_i_<sup>_e_</sup></span> element (`[]`)
*   supports slicing ,this allows extracting a subset of elements
*   supports the membership operator  (`in`)
*   has a few methods to find the index of an element and count the number of occurrences of an element

A sequence supports the following operations:



<table>

<thead>

<tr class="header">

<th align="left">operation</th>

<th align="left">Meaning</th>

</tr>

</thead>

<tbody>

<tr class="odd">

<td align="left">x in s</td>

<td align="left">`True` if an element of `s` equals `x`, otherwise `False`</td>

</tr>

<tr class="even">

<td align="left">x not in s</td>

<td align="left">	
`False` if an element of s equals x , otherwise `True`</td>

</tr>

<tr class="odd">

<td align="left">s + t</td>

<td align="left">concatenation of `s` and `t`</td>

</tr>

<tr class="even">

<td align="left">s * n or n * s</td>

<td align="left">concatenation of <span class="math">_n_</span> copies of `s`</td>

</tr>

<tr class="odd">

<td align="left">s[i]</td>

<td align="left"><span class="math">_i_<sup>_e_</sup></span> element of `s`</td>

</tr>

<tr class="even">

<td align="left">s[i:j]</td>

<td align="left">slice of <span class="math">_i_</span> to <span class="math">_j_</span> of `s`</td>

</tr>

<tr class="odd">

<td align="left">s[i:j:k]</td>

<td align="left">slice of<span class="math">_i_</span> to <span class="math">_j_</span> of `s` with step <span class="math">_k_</span></td>

</tr>

<tr class="even">

<td align="left">len(s)</td>

<td align="left">size of `s`</td>

</tr>

<tr class="odd">

<td align="left">min(s)</td>

<td align="left">smallest element of `s`</td>

</tr>

<tr class="even">

<td align="left">max(s)</td>

<td align="left">largest element `s`</td>

</tr>

<tr class="odd">

<td align="left">s.index(x[,i[,j]])</td>

<td align="left">iindex of the first occurrence of x in s (or between indices i and j )<span class="math">_i_</span> and <span class="math">_j_</span>)</td>

</tr>

<tr class="even">

<td align="left">s.count(x)</td>

<td align="left">total number of occurrences of `x` in `s`</td>

</tr>

</tbody>

</table>

### <span class="header-section-number">1.2.1</span> List

A list is an ordered collection of items.

In [27]:
    >>> lst = [1, 2, 3]
    >>> lst
    [1, 2, 3]
    >>> len(lst)
    3
    >>> lst[0]
    1
    >>> 2 in lst
    True
    >>> lst.count(3)
    1

1

A list is mutable.

In [28]:
    >>> lst[0] = 9
    >>> lst
    [9, 2, 3]
    >>> lst.append(5)
    >>> lst
    [9, 2, 3, 5]
    >>> lst.reverse()
    >>> lst
    [5, 3, 2, 9]
    >>> lst.remove(5)
    >>> lst
    [3, 2, 9]

    >>> lst = ['python', 4, 'java', 'c']
    >>> lst.pop()
    'c'
    >>> lst
    ['python', 4, 'java']
    >>> lst.insert(1, 'javascript')
    >>> lst
    ['python', 'javascript', 4, 'java']

['python', 'javascript', 4, 'java']

Here is the list of methods to modify a list [https://docs.python.org/3/library/stdtypes.html#typesseq-mutable](https://docs.python.org/3/library/stdtypes.html#typesseq-mutable)

We can iterate on a list with the `for` loop:

In [39]:
    >>> for i in [0, 1, 2]:
    ...     print(i)

0
1
2

<div id="__ex_1" class="panel panel-default">

<div class="panel-heading">

### Exercise 1

</div>

<div class="panel-body">

Write a function that takes as a parameter a list of integers as a string (eg ['1', '2', '3'] ) and which displays for each number whether it is even or odd.

Example:

In [ ]:
    >>> pair_impair(['1', '2', '3'])
    impair
    pair
    impair

</div>

</div>

<div class="panel panel-default">

<div class="panel-heading">

### Solution 1

</div>

In [40]:
def pair_impair(lst):
    for s in lst:
        if int(s) % 2 == 0:
            print("pair")
        else:
            print("impair")

</div>

</div>

</div>

Slicing allows extracting a subsequence. The syntax is  `s[i:j:k]` where:

*   <span class="math">_i_</span> is the lower bound (included)
*   <span class="math">_j_</span> is the upper bound (excluded)
*   <span class="math">_k_</span> is the step

In [41]:
    >>> lst = [0, 1, 2, 3, 4, 5, 6, 7]
    >>> lst[0:4:1] # Les premiers 4 éléments
    [0, 1, 2, 3]
    >>> lst[4:8:1] # Les derniers 4 éléments
    >>> lst[0:8:2] # Prend un élément sur deux
    [0, 2, 4, 6]

[0, 2, 4, 6]

Each index is optional and therefore has a default value:



*   <span class="math">_i_</span>: 0
*   <span class="math">_j_</span>: `len(s)`
*   <span class="math">_k_</span>: 1

In [43]:
    >>> lst[:] # = lst[0:8:1]
    [0, 1, 2, 3, 4, 5, 6, 7]
    >>> lst[:6] # = lst[0:6:1]
    [0, 1, 2, 3, 4, 5]
    >>> lst[::2] # lst[0:8:2]
    [0, 2, 4, 6]
    >>> lst[::-2] # lst[0:8:-2]

[7, 5, 3, 1]

<div id="__ex_2" class="panel panel-default">

<div class="panel-heading">

### Exercise 2

</div>

<div class="panel-body">

Using `len`, `range` eand slicing, write a `for` loop that displays all sequences of 3 consecutive items from the list `[1,2,3,4,5,6,7,8,9]`.

Example:

    [1, 2, 3]
    [2, 3, 4]
    [3, 4, 5]
    [4, 5, 6]
    [5, 6, 7]
    [6, 7, 8]
    [7, 8, 9]

</div>

</div>

<div class="panel panel-default">

<div class="panel-heading">

### Solution 2

</div>

In [44]:
    lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

    for i in range(len(lst) - 2):
        print(lst[i:i+3])

[1, 2, 3]
[2, 3, 4]
[3, 4, 5]
[4, 5, 6]
[5, 6, 7]
[6, 7, 8]
[7, 8, 9]

</div>

</div>

</div>

### <span class="header-section-number">1.2.2</span>  List comprehension

List comprehension is about creating a list by modifying or filtering a sequence with a compact syntax. The 
syntax is:


*   `[<item> for <item> in <iterable>]`
*   `[<item> for <item> in <iterable> if <condition>]`

For exemple:

In [ ]:
    lst = [1, 2, 3, 4]
    result = []
    for i in lst:
        result.append(i ** 2)

is equivalent to:

In [45]:
    >>> [i ** 2 for i in lst]
    [1, 4, 9, 16]

    lst = [1, 2, 3, 4]
    result = []
    for i in lst:
        if i % 2 == 0:
            result.append(i)

is equivalent to:

In [46]:
    >>> [i for i in lst if i % 2 == 0]

[2, 4]

## <span class="header-section-number">1.3</span> Tuple

A tuple is an ordered sequence of elements. A tuple is immutable.

In [47]:
    >>> t = (1, 2, 'python')
    >>> t[0]
    1
    >>> len(t)
    3
    >>> t[0] = 8

TypeError: 'tuple' object does not support item assignment

We can iterate on a tuple:

In [48]:
    >>> for i in (0, 1, 2):
    ...     print(i)

0
1
2

### <span class="header-section-number">1.3.1</span> Packing/Unpacking

Packing a tuple means combining variables to form a tuple:

In [54]:
    >>> address_port = ('192.168.43.12', 8000)
    >>> address_port
    ('192.168.43.12', 8000)

('192.168.43.12', 8000)

Unpacking a tuple means extracting the values of a tuple and assigning them to variabes:

In [55]:
    >>> address, port = address_port
    >>> address
    '192.168.43.12'
    >>> port

8000

Unpacking is very useful when using a `for` loop :

In [52]:
    >>> for x, y in ((2, 3), (4, 2), (6, 3)):
    ...     print(x ** y)

8
16
216

## <span class="header-section-number">1.4</span> String

A string is defined either by single quotes ' or double quotes " . Example:

In [51]:
    >>> 'python'

'python'

In [50]:
    >>> "python"

'python'

Note that ' and ' have the same meaning in Python, but you must use the same symbol to start and close a string.

Example:

In [56]:
    >>> 'python"

SyntaxError: EOL while scanning string literal (<ipython-input-56-ccc73d2593dc>, line 1)

A string can also be on several lines, it is then necessary to use '' ' or """ to delimit it:

In [59]:
chaine = """SELECT *
    FROM users
    WHERE id = $1
    """
chaine

'SELECT *\n    FROM users\n    WHERE id = $1\n    '

The characters `\n` are part of the string. If we do not want the characters `\n` , we can concatenate several character strings:

In [61]:
chaine = ("SELECT * "
          "FROM users "
          "WHERE id = $1")
chaine

'SELECT * FROM users WHERE id = $1'

A string has several methods: [https://docs.python.org/3/library/stdtypes.html#string-methods](https://docs.python.org/3/library/stdtypes.html#string-methods)

<div id="__ex_3" class="panel panel-default">

<div class="panel-heading">

### Exercise 3

</div>

<div class="panel-body">

Create a function `maj_inverser` that takes a string and returns the same string, but in uppercase and inverted.

</div>

</div>

<div class="panel panel-default">

<div class="panel-heading">

### Solution 3

</div>

In [64]:
def maj_inverser(mot):
    return mot.upper()[::-1]
maj_inverser("Hello")

'OLLEH'

</div>

</div>

</div>

### <span class="header-section-number">1.4.1</span> Formatting

You can format a string either with the `%` operator or with the `format` method :

In [67]:
    >>> "Bonjour %s" % "Alex"
    'Bonjour Alex'
    >>> "Le %s %s" % (3, 'janvier')
    'Le 3 janvier'

    >>> 'Le {0} {1}'.format(3, 'janvier')
    'Le 3 janvier'
    >>> 'Le {jour} {mois}'.format(mois='janvier', jour=3)

'Le 3 janvier'

## <span class="header-section-number">1.5</span> Set

The `set` type is a collection of unordered and unique items. It does not contain duplicates and has no order.

In [68]:
    >>> x = set([0, 0, 1, 2, 3, 1])
    {0, 1, 2, 3}
    >>> y = set([4, 0, 3, 4])
    >>> y
    {0, 3, 4}

    >>> 1 in x
    True
    >>> 1 in y

False

It supports operations on sets as in mathematics:

In [69]:
    >>> x.intersection(y)
    {0, 3}
    >>> x.union(y)
    {0, 1, 2, 3, 4}
    >>> x - y
    {1, 2}
    >>> y - x

{4}

A set is mutable:

In [7]:
    >>> x.add(6)
    >>> x

NameError: name 'x' is not defined

### <span class="header-section-number">1.5.1</span> Iterable

Sets are iterable:

In [72]:
for i in x:
    print(i)

0
1
2
3
6

Since a set has no order, there is no guarantee on the order in which the items are iterated.


Documentation: [https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)

## <span class="header-section-number">1.6</span> Dictionary (dict)

A dictionary is a collection of unordered key-value elements. A key must be unique.

In [73]:
    >>> ext = {'alex': 741, 'benoit': 412, 'carl': 671}
    >>> ext['diane'] = 167
    >>> ext
    {'diane': 167, 'alex': 741, 'benoit': 412, 'carl': 671}
    >>> del ext['alex']
    >>> ext
    {'diane': 167, 'benoit': 412, 'carl': 671}
    >>> 'benoit' in ext
    True
    >>> list(ext.keys())
    ['diane', 'benoit', 'carl']
    >>> list(ext.values())
    [167, 412, 671]
    >>> list(ext.items())
    [('diane', 167), ('benoit', 412), ('carl', 671)]

[('diane', 167), ('benoit', 412), ('carl', 671)]

## <span class="header-section-number">1.7</span> `defaultdict`

A `defaultdict` s a dictionary that inserts a default value when the key requested by the `[]` operator does not exist.

In [74]:
    >>> import collections
    >>> d = collections.defaultdict(list)
    >>> d['a']
    []
    >>> d['b'].append(1)
    >>> d['b']

[1]

<div id="__ex_4" class="panel panel-default">

<div class="panel-heading">

### Exercise 4

</div>

<div class="panel-body">

Write the function count_letters which takes as a parameter a string of characters and which returns a dictionary such that for each pair the key is a letter and the value is its number of occurrences in the string.


Example of use:

    >>> compter_lettres('mississippi')
    {'s': 4, 'm': 1, 'i': 4, 'p': 2}

</div>

</div>

<div class="panel panel-default">

<div class="panel-heading">

### Solution 4

</div>

In [78]:
    import collections

    def compter_lettres(mot):
        resultat = collections.defaultdict(int)

        for lettre in mot:
            resultat[lettre] += 1

        return resultat

</div>

</div>

</div>

<div id="__ex_5" class="panel panel-default">

<div class="panel-heading">

### Exercise 5

</div>

<div class="panel-body">

Write the function `sort_letters` which takes as parameter a dictionary returned by the function `count_letters` and which returns a list of the letters sorted by their number of occurrences in descending order.

Use the global sorted function .

Example of uses:

In [86]:
trier_lettres({'i': 4, 'p': 2, 's': 4, 'm': 1})

['i', 's', 'p', 'm']

</div>

</div>

<div class="panel panel-default">

<div class="panel-heading">

### Solution 5

</div>

In [88]:
    def get_second(item):
        return item[1]

    def trier_lettres(occurrences):
        paires = occurrences.items()
        paires_triees = sorted(paires, key=get_second, reverse=True)
        return [lettre for lettre, occurrence in paires_triees]


Using
`operator.itemgetter(1)`:

In [90]:
    import operator

    def trier_lettres(occurrences):
        paires = occurrences.items()
        paires_triees = sorted(paires, key=operator.itemgetter(1), reverse=True)
        return [lettre for lettre, occurrence in paires_triees]